<div class="container-fluid">
  <!-- <div class="row"> -->
  <img src="assets/imgs/bg.png" alt="login image" class="login-img">

  <div class="row">
    <img src="assets/img/image.jpg" alt="" class="logo_dash">
  </div>

  <div class="margin">

    <div class="row">
      <div (click)="goVehicles()" class="col-2 boxi">
        <img src="assets/img/car.png" alt="" class="boxes">
      </div>

      <div (click)="goUsers()" class="col-2 boxi">
        <img src="assets/img/home_user.svg" alt="" class="boxes">
      </div>
    </div>

  </div>



  <!-- </div> -->
  <!-- <label class="copy">© Copyright Hivimar Industrial. Todos los Derechos Reservados. Desarrollado por FLY Casa Creativa.</label> -->
</div>